/OStolazaFCS50Proj2
/OStolazaFCS50Proj2.dSYM
/OstolazaFCS50Proj1
/OstolazaFCS50Proj1.dSYM
/OstolazaFCS50Proj3
/OstolazaFCS50Proj3.dSYM
/OstolazaFCS50Proj4
/OstolazaFCS50Proj4.dSYM
/controlStructure
/controlStructure.cpp
/controlStructure.dSYM
/countPenny
/countPenny.dSYM
/editproj4.cpp
/incrementors
/incrementors.cpp
/incrementors.dSYM
/myfirstfile
/myfirstfile.cpp
/myfirstfile.dSYM